body{
    background-color: #ffffff;
    background-image: url("../static/bg3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.Rectángulo_2 {
    background-color: rgb(43, 39, 30);
    position: absolute;
    left: 50px;
    top: 500px;
    width: 336px;
    height: 12px;
  }

.Rectángulo_4 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 3446px;
    top: 492px;
    width: 132px;
    height: 984px;
    z-index: 18;
  }

.Shape {
    background-color: rgb(149, 157, 128);
    opacity: 0.259;
    position: absolute;
    left: -67px;
    top: 1422px;
    width: 4079px;
    height: 1098px;
    z-index: 7;
  }

  .Shape2 {
    background-color: rgb(176, 174, 174);
    opacity: 0.212;
    position: absolute;
    left: -1px;
    top: -53px;
    width: 1535px;
    height: 2105px;
    z-index: 6;
  }

  /*-------------------------------------------------------------------------------------*/

  @media only screen and (max-width: 767px) {
      body {
        background-color: #f9f9f9;
        background-image: url("../static/bg2.png");
        }
  }

  
  
  

  