body{
    background-color: #ffffff;
    overflow: hidden;

}
.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: black;
}



.Rectángulo_2 {
    background-color: rgb(43, 39, 30);
    position: absolute;
    left: 55%;
    top: 33%;
    width: 100px;
    height: 4px;
  }

.Rectángulo_4 {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 3446px;
    top: 492px;
    width: 132px;
    height: 984px;
    z-index: 18;
  }

.Shape {
    background-color: rgb(149, 157, 128);
    opacity: 0.259;
    position: absolute;
    left: -67px;
    top: 1422px;
    width: 4079px;
    height: 1098px;
    z-index: 7;
  }

  .Shape2 {
    background-color: rgb(176, 174, 174);
    opacity: 0.212;
    position: absolute;
    left: -1px;
    top: -53px;
    width: 1535px;
    height: 2105px;
    z-index: 6;
  }

  .centerit{
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 23%;
    padding-left: 20%;
    left: 20%;
    position:relative;
  }

  p{
    color : #505050;
    font-size: 6vh;
    text-align: center;
    font: 'Lucida Bright';
    padding-bottom: 10%;
    font-weight:600;
  }

  /*-------------------------------------------------------------------------------------*/

  @media only screen and (max-width: 767px) {
      body {
        background-color: #ffffff;
        background-image: url("../static/bg6.png");
        }
  }

  
  

  